
body {
    color: black;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: "Raleway", sans-serif;
    background-color: #fbf6ef;
}


header {
    text-align: center;
    padding: 1rem;
}



header p {
    margin: 0;
    font-size: 1rem;
    font-weight:400;
    color: rgb(0, 0, 0);
    font-style: italic;
    margin-bottom: 100px;
    padding-bottom: 20px;
    border-bottom: 1px solid #dce0d9;
}

header nav{

    display: table;
}

main {
    margin: 2rem auto;
    width: 80%;
}


section {
    padding: 5px;
    margin: 5px;
    flex: 100px;
}

section {
    display: flex;
    flex-direction: column;
}

h2{
    border-bottom: 3px solid #EAD7C3;
    margin: 1px;
    text-align: left;
    width: 100%; 
    font-style: oblique;
}

.contact-about, .skill-exp, .top-clip {
    display: flex;
    gap: 50px;
    justify-content: space-between;

}

ul, p {
    font-size: medium;
}

a {
    text-decoration: none;

}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }
    .contact-about, .skill-exp, .top-clip  {
    flex-direction: column;
    }

}

img,
picture,
video {
max-width: 100%;

}